<h>
<link rel="stylesheet" href="style.css" />
</h>
h1{
  font-family: verdana;
  color:blue;
}

 h2{
  font-family: verdana;
  color:blue;
}

p{
 font-family: verdana;
}

body {
    background-color:  #8600b3;
}
