<link rel="stylesheet" href="style.css" /> 

 h1{
  font-family: verdana;
  color:blue;
}

 h2{
  font-family: Blackadder ITC;
  color:Grey;
}

p{
 font-family: Arial;
}

body {
    background-color: Light-red;
}


